<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client List</title>
</head>
<body>
    <a href= "{% url 'client_create' %}">Add Client</a>
    <a href= "{% url 'dashboard:home' %}">Dashbord</a>
    <ul>
        {% for client in clients %}
            <li>
                {{client.name}}-{{client.phone_num}}-{{client.address}}
                <a href = "{% url 'client_update' client.id %}">Edit</a>
                <a href = "{% url 'client_delete' client.id %}">Delete</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>