<!DOCTYPE html>
<html lang="en">
<head>
    <title>ADD CLIENT</title>
</head>
<body>
    <h2>Add new client</h2>
    <form method = 'post'>
        {% csrf_token %}
        <label>Name:</label>
        <input type = 'text' name = 'name' required><br>
        <label>Phone number:</label>
        <input type = 'text' name = 'phone_num'required><br>
        <label>Address:</label>
        <input type = 'text' name = 'address'required><br>

        <button type="submit">Add Client</button>
    </form>
    <a href ="{% url 'client_list' %}">See list</a>
    
</body>
</html>